body {
  background: #FFF;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  color: #110B04;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Serif Pro", serif;
}

body,
HTML {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer {
  margin-top: auto;
}

#navbar.bg-light {
  background-color: #4D3216 !important;
  font-family: "Source Serif Pro", serif;
  border-radius: 5px;
}

#navbar.bg-light .navbar-toggler-icon {
  color: #B99057;
}

#navbar.bg-light .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-size: 1.5rem;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

#navbar.bg-light .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: #B99057;
}

header {
  margin-bottom: 2rem;
}

.banner {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.banner img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  max-height: 200px;
}

footer {
  width: 100%;
  background: #4D3216;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

footer p {
  margin: 0;
  color: #B99057;
  text-align: center;
  padding: 1rem;
}

.carousel-title {
  text-align: center;
}

.carousel {
  margin-bottom: 2em;
}

.carousel .carousel-inner .carousel-item img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.carousel .carousel-inner .carousel-item .carousel-caption {
  background: rgba(17, 11, 4, 0.6);
  border-radius: 10px;
}

.carousel .carousel-inner .carousel-item .carousel-caption a {
  color: #FFF;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.carousel .carousel-inner .carousel-item .carousel-caption a:hover {
  text-decoration: none;
  color: #B99057;
}

.carousel .carousel-inner .carousel-item .carousel-caption a:link {
  text-decoration: none;
}

#patterns-list .card {
  margin-bottom: 2em;
  border: none;
  padding: 0.5em;
}

#patterns-list .card .image {
  margin: 0 auto 0.5em;
  position: relative;
  overflow: hidden;
  height: 200px;
  width: 200px;
  padding-bottom: 100%;
}

#patterns-list .card .image img {
  position: absolute;
  max-width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

#patterns-list .card .card-block .btn-primary {
  background: #B99057;
  border: none;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

#patterns-list .card .card-block .btn-primary:hover {
  background: #4D3216;
}

#pattern .breadcrumb {
  background: none;
}

#pattern .breadcrumb .breadcrumb-item {
  color: #B99057;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

#pattern .breadcrumb .breadcrumb-item:hover {
  color: #4D3216;
}

#pattern .description {
  margin-bottom: 2em;
}

#pattern .description h1 {
  font-size: 2em;
}

#pattern .description .btn-primary {
  background: #B99057;
  border: none;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

#pattern .description .btn-primary:hover {
  background: #4D3216;
}

#pattern .image {
  margin-bottom: 2em;
}

#about {
  margin-bottom: 2rem;
}

#about img {
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 3px solid #4D3216;
}

#about .card {
  border-color: #4D3216;
  background-color: #4D3216;
  margin-bottom: 2em;
}

#about .card .card-body {
  color: #FFF;
}

#contact {
  margin-bottom: 2rem;
}

#contact ul {
  list-style: none;
  margin: 0;
  padding: 1rem;
  font-family: "Source Serif Pro", serif;
  font-size: 1.25rem;
  background: #4D3216;
  border-radius: 5px;
}

#contact ul a {
  color: #FFF;
  -webkit-transition: all ease-in-out 0.75s;
  transition: all ease-in-out 0.75s;
}

#contact ul a:hover {
  color: #B99057;
  text-decoration: none;
}

#contact ul a i {
  display: inline-block;
  text-align: center;
  width: 2rem;
  color: #B99057;
}

