#about
  margin-bottom: 2rem

  img
    margin-bottom: 1rem
    border-radius: 5px
    border: 3px solid $brown

  .card
    border-color: $brown
    background-color: $brown
    margin-bottom: 2em

    .card-body
      color: $white
